# Exercises: Creating, Updating, and Destroying Objects

For the exercises, you will be working with objects and data you create. Before opening this notebook, make sure that you have set up the new connection to the server and that you have located the database and your schema.

## Object Creation

Before coding, think of three things you want to make. These could be coding projects, new recipes, or planned projects for a woodworking hobby. Brainstorm the appropriate column names and data types as well.

Create a table under your schema called `planned_makes`.

In [ ]:
CREATE TABLE Sep2025JunkDB.rajdeep_bomjan.chess_class 
    ( ID int IDENTITY (1,1) PRIMARY key,
    First_name VARCHAR(25),
      Last_name VARCHAR(25),
      Age int ,
     Gender VARCHAR(50),
     Email_address VARCHAR (50)
   );

Add three rows to your table that are your planned makes.

In [ ]:
INSERT INTO Sep2025JunkDB.rajdeep_bomjan.chess_class ( First_name, Last_name, Age, Gender, Email_address)
VALUES ('Lisa','Hayden','20','Female','lisab20@email.com'),
        ('Nita','Rai','29','Female','nitar21@email.com'),
        ('Ryan','Seacrest','31','Male','ryanw@email.com');

## Update a Row

Change different values in one of your three rows.

In [ ]:
UPDATE Sep2025JunkDB.rajdeep_bomjan.chess_class
SET First_name  = 'Nancy' ,  Gender = 'Female'
WHERE 	Id=3;

## Delete a Row

Delete one of the rows from your table.

In [ ]:
DELETE From Sep2025JunkDB.rajdeep_bomjan.chess_class 
WHERE First_name ='Nancy'

## Drop the Table

While this has been fun, it is time to drop the table!

In [ ]:
DROP TABLE Sep2025JunkDB.rajdeep_bomjan.chess_class